@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
}
:root {
  /*Cores*/
  --cor-primaria: #00000098;
  --cor-secundaria: #e6e8e6;
  --cor-terciaria: #db1010b6;
  --cor-quartenaria: #ced0ce;
  --dark: #000000;
  --cor-hover: #272727;
  --white: #ffffff;

  /*Fontes*/
  --fonte-principal: "Montserrat", sans-serif;
}
body {
  background-color: var(--cor-primaria);
  height: 100vh;
  font-family: var(--fonte-principal);
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 0.8rem;
  background-color: var(--cor-primaria);
  min-height: 50px;
}
.box-img-header {
  height: 100%;
}
.img-logo {
  max-width: 60px;
  height: 100%;
}
nav {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.nav-links {
  text-decoration: none;
  color: var(--cor-quartenaria);
  font-weight: 400;
}
.nav-links:hover {
  color: var(--cor-primaria);
  transition: 0.4s;
  text-decoration: underline;
  font-weight: 800;
}
.box-btn-actions {
  display: flex;
  gap: 1rem;
}
:is(button, .link-action) {
  padding: 0.6rem;
  font-size: 0.9rem;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  transition: 0.4s;
}
.btn-action {
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--white);
}
.btn-action:hover {
  background-color: var(--cor-quartenaria);
  border: 1px solid var(--cor-quartenaria);
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
section {
  padding: 4rem;
}
.first-section {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  flex-wrap: nowrap;
  align-items: center;
  min-height: 650px;
}
.first-section > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 300px;
}
h1 {
  font-size: 4rem;
  color: var(--white);
  letter-spacing: 6px;
}
strong {
  color: var(--cor-terciaria);
}
.first-section p {
  color: var(--white);
  max-width: 600px;
  text-align: justify;
}
.link-action {
  text-decoration: none;
  width: 200px;
}
.box-img-main {
  max-width: 450px;
  padding: 1rem;
}
.img-profile {
  border-radius: 50%;
  width: 100%;
}
:is(.second-section, .fourth-section) {
  background-color: var(--cor-terciaria);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.second-section ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  letter-spacing: 2px;
}
.second-section li {
  color: var(--cor-quartenaria);
  letter-spacing: 2px;
}
.second-section ul li {
  font-weight: bold;
}
.second-section ul li:hover {
  color: var(--dark);
  transition: 0.5s;
  cursor: default;
}
.title {
  color: var(--dark);
}
.third-section {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.third-section > div {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.third-section > div img {
  width: 200px;
  border-radius: 10px;
}
.third-section > div p {
  max-width: 600px;
  color: var(--white);
  text-align: justify;
}
footer {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
footer > div {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
